{% extends 'base.html' %}
{% block title %} UX Media Lab {% endblock title %} 
{% block mainview %}
<!-- Hero -->
<section id="hero" class="container">
	<header>
		<h3>Myongji University</h3>	
		<h2>UX Media Lab</h2>
	</header>
	<p>Director Sangkyun Kim Ph.D University of lowa</p>
</section>
{% endblock mainview %} 
{% load static %}
{% block content %}
<!-- Main -->
<div class="main_wrapper">
		<!-- Content -->
		<div class="col-12-narrower slideshow-container">
			<div class="slides fade">
				<img src="{% static 'images/slideshow1.jpg' %}">
				<div class="text"></div>
			</div>

			<div class="slides fade">
				<img src="{% static 'images/slideshow2.jpg' %}">
				<div class="text"></div>
			</div>

			<div class="slides fade">
				<img src="{% static 'images/slideshow3.jpg' %}">
				<div class="text"></div>
			</div>
		</div>
	
	<br>
	<!--under dots-->
	<div style="text-align:center">
		<span class="dot" onclick="currentSlide(1)"></span>
		<span class="dot" onclick="currentSlide(2)"></span>
		<span class="dot" onclick="currentSlide(3)"></span>
	</div>

	<article id="content">
		<header>
			<h2>Introduction</h2>
			<p>
				 UX Media Lab : Introduction and simple welcoming writings.
			</p>
		</header>
		<p>
			Ut sed tortor luctus, gravida nibh eget, volutpat odio. Proin rhoncus,
			sapien mollis luctus hendrerit, orci dui viverra metus, et cursus nulla
			mi sed elit. Vestibulum condimentum, mauris a mattis vestibulum, urna
			mauris cursus lorem, eu fringilla lacus ante non est. Nullam vitae
			feugiat libero, eu consequat sem. Proin tincidunt neque eros. Duis
			faucibus blandit ligula, mollis commodo risus sodales at. Sed rutrum et
			turpis vel blandit. Nullam ornare congue massa, at commodo nunc
			venenatis varius. Praesent mollis nisi at vestibulum aliquet. Sed
			sagittis congue urna ac consectetur.
		</p>
		<p>
			Mauris eleifend eleifend felis aliquet ornare. Vestibulum porta velit at
			elementum gravida nibh eget, volutpat odio. Proin rhoncus, sapien mollis
			luctus hendrerit, orci dui viverra metus, et cursus nulla mi sed elit.
			Vestibulum condimentum, mauris a mattis vestibulum, urna mauris cursus
			lorem, eu fringilla lacus ante non est. Nullam vitae feugiat libero, eu
			consequat sem. Proin tincidunt neque eros. Duis faucibus blandit ligula,
			mollis commodo risus sodales at. Sed rutrum et turpis vel blandit.
			Nullam ornare congue massa, at commodo nunc venenatis varius. Praesent
			mollis nisi at vestibulum aliquet. Sed sagittis congue urna ac
			consectetur.
		</p>
		<p>
			Vestibulum pellentesque posuere lorem non aliquam. Mauris eleifend
			eleifend felis aliquet ornare. Vestibulum porta velit at elementum
			elementum.
		</p>
	</article>
</div>
{% endblock content %}
