{% extends 'base.html' %}
{% block title %} Project {% endblock title %} 
{% block mainview %} {% endblock mainview %} 
{% block content %}
<div class="wrapper">
    <div class="container" id="main">

        <!-- Content -->
            <article id="content" >
                <header>
                    <h2>Project</h2>
                    <br>
                    <hr>
                    <p>국책 과제 (Government funded projects)</p>
                </header>
                <ol>
                    <li>영문 과제명(한글과제명)[xxxx.x~xxxx.x]</li>
                    <li>영문 과제명(한글과제명)[xxxx.x~xxxx.x]</li>
                    <li>영문 과제명(한글과제명)[xxxx.x~xxxx.x]</li>
                    <li>영문 과제명(한글과제명)[xxxx.x~xxxx.x]</li>
                    <li>영문 과제명(한글과제명)[xxxx.x~xxxx.x]</li>
                </ol>
            </article>
            <article id="content">
                <header>
                    <hr>
                    <p>산학 과제 (Industrial collaboration projects)</p>
                </header>
                <ol>
                    <li>영문 과제명(한글과제명)[xxxx.x~xxxx.x]</li>
                    <li>영문 과제명(한글과제명)[xxxx.x~xxxx.x]</li>
                    <li>영문 과제명(한글과제명)[xxxx.x~xxxx.x]</li>
                    <li>영문 과제명(한글과제명)[xxxx.x~xxxx.x]</li>
                    <li>영문 과제명(한글과제명)[xxxx.x~xxxx.x]</li>
                </ol>
            </article>
            <article id="content">
                <header>
                    <hr>
                    <p>내부 과제 (Internal projects)</p>
                </header>
                <ol>
                    <li>영문 과제명(한글과제명)[xxxx.x~xxxx.x]</li>
                    <li>영문 과제명(한글과제명)[xxxx.x~xxxx.x]</li>
                    <li>영문 과제명(한글과제명)[xxxx.x~xxxx.x]</li>
                    <li>영문 과제명(한글과제명)[xxxx.x~xxxx.x]</li>
                    <li>영문 과제명(한글과제명)[xxxx.x~xxxx.x]</li>
                </ol>
            </article>
    </div>
</div>
{% endblock content %}